.header {
	.mainmenu {
    ul {
      margin: 0 -15px;
    }
    .menu-item {
      padding: 0 15px;
      a {
        position: relative;
        &:after {
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0; bottom: -20px; 
          background: #d69928;
          opacity: 0;
          visibility: hidden;
          transition: all 0.35s;
        }
        &:hover {
          &:after {
            opacity: 1;
            bottom: -10px;
            visibility: visible;
          }
        }
      }
      &.menu-item-has-children {
        margin-bottom: -10px !important;
        &:hover {
          .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
        a {
          &:after {
            content: none !important;
          }
        }
      }
    }
  }
  .sub-menu {
    opacity: 0;
    visibility: hidden;
    min-width: 220px;
    position: absolute;
    margin-top: 10px !important;
    transform: translateY(20px);
    box-shadow: 0px 0px 6px 0px #d69928;
    transition: opacity 0.55s 0.1s, transform 0.55s 0.1s;
    .menu-item {
      text-align: left !important;
      padding: 0 0 15px 0 !important;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0 !important;
        border: none;
      }
    }
    a {
      &:after {
        content: none !important;
      }
    }
  }
}